form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
     margin-top: -320px;
}



form h3 {
    color: #FFF;
}

label {
    display: block;
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
}

input {
    width: calc(100% - 24px);
    padding: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #333;
    color: #FFF;
    font-size: 18px;
}

input[type="submit"],
.back-to-home {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}

input[type="submit"]:hover,
.back-to-home:hover {
    border-color: #FFF;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
    background-color: #FF0000;
    color: #FFF;
}

input[type="submit"]:before,
.back-to-home:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #FFF, #FFF, #FF0000, #FF0000, #FFF, #FFF);
    background-size: 400% 400%;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="submit"]:hover:before,
.back-to-home:hover:before {
    opacity: 1;
    animation: glowing-border 1.5s linear infinite; 
}

@keyframes glowing-border {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#form-con h1 {
    font-size: 55px;
    font-family: 'Poppins';
}