#projects {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    background: #332F2F;
    position: relative; 
    opacity: 0%;
    transform: translateY(50px);
}

@media only screen and (max-width: 768px) {
    #projects {
        padding-top: 20px; 
        padding-bottom: 20px; 
        padding-right: 0; 
        background: #332F2F;
        position: relative; 
    }
}


    #projects img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0; 
    animation: fadeIn 1s forwards; 
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 

    }


    #projects img :hover {
        transform: scale(1.1);
    }

 

    @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



#projects p {
    margin-left: 20px;
    color: white;
    font-style: italic;
    text-align: left;
    font-size: 18px;
    line-height: 1.5; 
    margin-bottom: 20px; 
}




    #projects-mobile {
    padding-top: 50px;
    padding-bottom: 50px; 
    background: #332F2F;
    }



    #projects-mobile h1 {
        text-align: center;
    }



    #projects-mobile p {
    margin-left: 20px;
    color: white;
    font-style: italic;
    text-align:left;
    }

   

    .button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    }

    .button:hover {
    background-color: darkred;
    }


    footer {
    padding-top: 50px;
    padding-bottom: 50px;
    }

    #footer hr{
    border: 1px solid red;
    margin: 20px 0; 
    transform: translateX(-50%) rotate(90deg);


    }

    #footer img {
    margin-right: auto;
    }

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #footer img:hover {
    text-decoration: underline ;
    }

.d-hero-con {
    width: 50%;
    overflow: hidden;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    .d-hero{
        transform: scale(1.4);

    }


}


  .reveal {
    opacity: 1;
    transform: translateY(0);
  }

    /* info-box animation */

    .thumbnail {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-radius: 10px;
      }
      .thumbnail:hover {
        transform: scale(0.9); 

      }


    /* footer */

    #footer .social-media img {
        transition: opacity 0.3s ease; 
    }
    
    #footer .social-media img:hover {
        opacity: 0.7; 
    }

    .back-to-top {
    
        bottom: 20px;
        right: 20px;
        color: #FFF;
        font-size: 18px;
        cursor: pointer;
        z-index: 999;
        transition: background-color 0.3s ease;
    }